@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Poppins', sans-serif;
	min-height: 100vh;
	width: 100%;
	/* background: #042A3A; */
	background: #0B2447;
	/* color: #45FFCA; */
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

h1 {
	font-size: 80px;
	text-align: center
}

h2{
	font-size: 130px;
	animation-name: girar;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-fill-mode: both;
	animation-timing-function: ease-in-out;
}

@keyframes girar {
	0%{
		rotate: 0deg;
	}
	100%{
		rotate: 360deg;
	}
}
